/* MIXINS */
@mixin sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 991px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin xl-1600 {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null, $width: null, $height: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
  width: $width;
  height: $height;
}

// @mixin prefix($declarations, $prefixes: ()) {
//   @each $prop, $value in $declarations {
//       #{$prop}: #{$value};
//       -webkit-#{$prop}: #{$value};
//       -moz-#{$prop}: #{$value};
//       -ms-#{$prop}: #{$value};
//       -o-#{$prop}: #{$value};
//   }
// }

  