@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

// COLORS
$body-color: #fff;
$body-bg: #0A545F;
$btn-bg: #04353C;
$placeholder: #707070;