@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

// COLORS
$white: #fff; 
$dark-green: #04353C;
$body-bg: #0A545F;
$brown-gray: #707070;