@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../font/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal; 
}

// COLORS
$white: #fff; 
$dark-green: #04353C;
$body-bg: #0A545F;
$brown-gray: #707070;