@use 'base/_variables.scss';

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-gap: 55px;
    text-align: center;

    &-inner {
        background-color: variables.$white;
        border-radius: 10px;
        padding: 40px;

        h3, p:not(:nth-of-type(1)) {
            color: variables.$dark-green;
        }
        p:nth-of-type(1) {
            color: variables.$brown-gray;
            padding: 10px 0 30px 0;
        }
        p:nth-of-type(2) {
            font-size: 3rem;
            font-weight: 600;
        }
        button {
            margin: 40px 0 5px 0;
            width: 100%;
            padding: 11px;
            font-size: 1em;
        }
    }
} 